/*  _____________________________________________________________________________
 * |                                                                             |
 * |                    === WARNING: GADGET FILE ===                      |
 * |                  Changes to this page affect many users.                    |
 * | Please discuss changes on the talk page or on [[MediaWiki_talk:Gadgets-definition]] before editing. |
 * |_____________________________________________________________________________|
 *
 * "Forms" feature, to be used by the Wikimedia Foundation's Grants Programme, 
 */
.formsGadget * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.formsGadget .ui-state-hover{
	background: transparent;
	border-color: #a1a1a1;
}

.formsGadget.ui-dialog .ui-icon-closethick{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTEuMzEzcHgiIGhlaWdodD0iMTEuMzEzcHgiIHZpZXdCb3g9IjAgMCAxMS4zMTMgMTEuMzEzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMS4zMTMgMTEuMzEzIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNCMEIxQjEiIHBvaW50cz0iMTEuMzEzLDIuMTIxIDkuMTkyLDAgNS42NTcsMy41MzUgMi4xMjIsMCAwLDIuMTIxIDMuNTM2LDUuNjU2IDAuMDAxLDkuMTkxIDIuMTIyLDExLjMxMyANCgk1LjY1Nyw3Ljc3NyA5LjE5MiwxMS4zMTIgMTEuMzEzLDkuMTkxIDcuNzc4LDUuNjU2ICIvPg0KPC9zdmc+DQo=) no-repeat 50% 50% !important;
}

.formsGadget .ui-widget-content{
	background: #EEE;
}

.formsGadget.ui-dialog .ui-widget-header{
	border: none;
	background: #EEE !important;
	padding-left: 11px !important;
	margin-top: 25px;
}

.formsGadget.ui-widget-content{
	background: #EEE;
	padding: 10px 18px;
	color: #444; 
	border-left: 1px solid #ddd; 
	border-top: 1px solid #ddd; 
	border-right: 1px solid #ddd; 
	border-bottom: 3px solid #D0D0D0; 
	border-radius: 1px;
}

.formsGadget .gadgetControls{
	text-align: right;
	margin: 10px 0px;
}
/*Check*/
.formsGadget .messageDescription{
	margin: 10px 0px;
}

.formsGadget textarea,.formsGadget input[type=textbox],.formsGadget input[type=number]{
	outline: 0px;
	padding: 14px 7px;
	resize: none;
	background-color: white;
	border: 1px solid #DDD;
	border-radius: 1px;
	margin-bottom: 1em;
}

.formsGadget textarea:focus, .formsGadget input[type=textbox]:focus{
	border-left-width: 6px;
	border-left-color:#4091ed;
}

div.grantsHide{
	display: none;
}

.formsGadget mw-ui-vform{
	width: 100%;
}

.formsGadget textarea::-webkit-input-placeholder{
	font-style: italic;
}

.formsGadget textarea::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
}
.formsGadget textarea:-ms-input-placeholder {  
	font-style: italic;
}

.formsGadget input::-webkit-input-placeholder{
	font-style: italic;
}

.formsGadget input::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
}
.formsGadget input:-ms-input-placeholder {  
	font-style: italic;
}

.formsGadget input.entryNotSatisfying:focus{
	border-left-width: 6px;
	border-left-color: #D11D13;
}

.formsGadget input.entrySatisfying:focus{
	border-left-width: 6px;
	border-left-color: #347BFF;
}

.formsGadget .title{
	font-weight: bold;
}

.formsGadget .text{
	line-height: 15px;
	margin: 6px 0px;
}

.formsGadget .elementContainer{
	padding: 7px 0px;
}
.formsGadget .inputListItem{
	width: 50px;
	margin-right: 30px;
}

.formsGadget input[type=textbox],.formsGadget input[type=number]{
	padding: 7px;
}

.formsGadget input[type=number]{
	text-align: center;
}
.formsGadget .inputListItemDescription{
	/* width: 120px; */
	display: inline-block;
}

.formsGadget .ui-widget-content a{
	color: #0b0080;
}

.formsGadget .validationContainer.entrySatisfying:after{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAYAAAAvOAWIAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB94HFgU5GtaftYcAAACqSURBVBjTfZA7SkMBFAXPi5UfcAHBwl6wt7HOfnQZgr0bSGdt6x7ERlDEyiIgCPLAM2NhIhE/U94Lc5k75A/UDMMQYDvJRZK3/Ie62XbeVuAm6q56BAT4srbdaXsFCNwC0wAPwKt6vGbcAuZ+8qQerBYny+ELMEsS4BJQfQb2V9eibgBnwLu6UK/b2vax7Z76PWQcxwlwvrQJ3KuHP4rXoibqKXAHTH/7zge2aLmJza+PXAAAAABJRU5ErkJggg==);
	padding: 7px 8px 7px 8px;
	background-color: #347BFF;
	border: 1px solid #DDD;
	border-width: 1px 1px 1px 0px;
}
.formsGadget .validationContainer.entryNotSatisfying:after{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB94HFgU0Ikszc1QAAADOSURBVBjTbZAhTkNBFEXvT7+gCRLDLkgTUtUF1NSxnErkl4gmX4DuQuoKC/iWYKqqyzmYGZgAN3kZc/LmnRv1BhjULdDnV4CV+qIuow6qgMAIXFVQ3QDvgOoUYFth9aLuysa1+mEJcIjaq2MBa/bqVBYIHNW7etdc3TU/tHlV7/OPzL6lgJO6+AOqa3VqwDpP6rwFN62MemrOuZSW+pm6SvKc5FZNkrckD13XfSZZJJmV9zql8JpjlSnSYyN9DrAEJuDwXc+PcK8OwBl4/AKbp0zxmA5MdAAAAABJRU5ErkJggg==);
	padding: 7px 8px 7px 8px;
	background-color: #D11D13;
	border: 1px solid #DDD;
	border-width: 1px 1px 1px 0px;
}
.formsGadget .inputElementWrapper{
	position: relative;
}
.formsGadget .mandatoryContainer:before{
	position: absolute;
	left: -6px;
	content: "*";
	color: #D11D13;
}
.formsGadget img{
	height: 100px;
}
.formsGadget input[type=textbox]{
	margin: 0px 0px 10px 0px;
	width: 90%;
}

.formsGadget input[type=submit]{
	margin-right: .5em;
	float: right;
}